body {
	width: 100%;
	height: 100%;
	background: #000;
}

.star-wars {
	margin-top: 17%;
	text-align: center;
	display: block;
	/* The rest is totally up to personal styling preferences */
	color: #feda4a;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 16pt;
	font-weight: 600;
	line-height: 150%;
}

li {
	list-style: none;
}

button {
	background: #feda4a;
	color: #000;
	border: none;
	padding: 10px;
	border-radius: 12px;
	font-weight: 800;
	font-size: 12pt;
	margin: 10px;
}

.myform {
	position: relative;
	display: inline-block;
}
